.carousel-container {
    display: flex;
    overflow-x: scroll;
    gap: 15px;
    padding: 10px;
    scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
    display: none; /* Hide scrollbars */
}

.carousel-item {
    min-width: 200px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s;
}

.carousel-item:hover {
    transform: scale(1.1);
}
/* Add this to your CSS file */
.genres-container {
    padding: 20px;
}

.video-player {
    margin-bottom: 20px;
}

.poster-grid {
    display: flex;
    flex-wrap: wrap;
}

.poster-grid img {
    width: 100px; /* Adjust size as needed */
    margin: 5px;
    cursor: pointer;
}

.poster-slideshow h4 {
    margin-top: 20px;
}
/* Login Page Styling */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

.input-box input:focus {
    border-color: #2b5835;
    outline: none;
    background-color: #fff;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 12px;
}

.remember-forgot a {
    color: #2b5835;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #2b5835;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #3c7347;
}

.register-link {
    margin-top: 10px;
}

.register-link p {
    font-size: 14px;
}

.register-link a {
    color: #2b5835;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
