/* src/App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: Helvetica, sans-serif;
}

.App {
    text-align: center;
}

.App header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

.App input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}

.App button {
    padding: 10px 20px;
    background-color: #2b5835;
    color: white;
    border: none;
    cursor: pointer;
}
/* App.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}
.main-video {
    margin-top: 20px;
    text-align: center;
}
.player-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 80vw; /* Adjust width as needed */
    padding: 20px;   /* Optional: Add padding around the player */
}

.react-player {
    max-width: 100%; /* Makes the video responsive within the container */
    width: 100%;
    height: auto;
}

.movie {
    background-color: #000000;
    margin: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.movie-details img {
    max-width: 200px;
    margin-top: 10px;
}

.search-box {
    margin: 20px;
}

.video-player {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    /* Adjust as needed */
    width: 100%;
    /* Full width of parent container */
    text-align: center;
}

.video-player h2 {
    margin-bottom: 10px;
}

.video-player .react-player {
    max-width: 100%;
    /* Responsive */
    width: 640px;
    /* Set a max width to prevent it from getting too large */
    height: auto;
}

.random-movies {
    margin-top: 40px;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.movie-item {
    cursor: pointer;
    width: 150px;
    text-align: center;
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s;
}

.movie-item:hover img {
    transform: scale(1.05);
}

.movie-popup {
    position: sticky;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.movie-popup-content {
    background-color: #000000;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;

}


.vignette {
    position: fixed; /* Cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow clicks to pass through */
    background: radial-gradient(circle, transparent 60%, rgba(0, 0, 0, 0.7) 100%);
    z-index: 1; /* Ensure it is on top of other content */
}

.movie-grid {
    display: flex; /* Use flexbox for layout */
    flex-wrap: wrap; /* Allow items to wrap */
}

.movie-item {
    margin: 10px; /* Space between movie items */
    cursor: pointer; /* Pointer cursor on hover */
}

.movie-item img {
    width: 150px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

.random-movies,
.action-movies {
    margin-top: 20px; /* Space between sections */
}